@font-face {
    font-family: 'Raisonne';
    src: url('./fonts/raisonne_demibold.eot');
    src: url('./fonts/raisonne_demibold.eot') format('embedded-opentype'),
         url('./fonts/raisonne_demibold.woff') format('woff'),
         url('./fonts/raisonne_demibold.ttf') format('truetype'),
         url('./fonts/raisonne_demibold.svg#RaisonneDemiBold') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Montserrat-Regular.ttf') format('truetype'),
	url('./fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Montserrat-Bold.ttf') format('truetype'),
      url('./fonts/Montserrat-Bold.woff') format('woff');
}

body {
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0em 0 0.5em;
  font-weight: inherit;
  font-family: 'Raisonne';
}

/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

.small-screen {
    display: none !important;
}
.large-screen {
    display: block;
}


@media screen and (max-width: 767px) {
    .small-screen {
        display: block !important;
    }
    .large-screen {
        display: none;
    }
}

        .list-group-horizontal .list-group-item {
            display: inline-block;
        }

.content-podcast .list-group-item {
        border: 0;
        font-size: 30px;
}

.selected .panel-heading {
        background-color: #337ab7;
    border-color: #337ab7;
        color: #fff;
}
.selected .panel-heading a {
        color: #fff;
}
.selected {
        border-color: #337ab7;
}

.seen .panel-heading {
        background-color: #fff;
}

.navbar-brand img {
    margin-top: -15px;
    float: left;
    margin-right: 1em;
}

.ecoute {
        clear: both;
        float: right;
        width: 100px;
        color: #333;
        font-size: 70%;
}

.navbar-nav>li.selected {
        padding-left: 15px;
        color: #fff;
        font-weight: bold;
}